[alias]
	pushf = push --force-with-lease
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[user]
	email = mholtman@gmail.com
	name = Mark Holtman
	signingkey = C021A04F63C3E7B60C3E72BEEE4D061BDD8DFC4A
[merge]
  tool = meld
[pull]
	rebase = false
[push]
	autoSetupRemote = true
